@import url("./global.css");
*{
    overflow: hidden;
}
#container {
    min-height: 100vh;
    width: 100%;
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
}
#center {
    width: 56%;
    overflow-y: hidden;
}
#center img {
    width: 230px;
    height: 270px;
}
#center-image {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
}
#center-welcome  {
    text-align: center;
    width: 100%;
    height: 25vh;
    margin-top: 25px;
    font-family: var(--second-font);
    font-size: 2rem;

}
#center h1:nth-child(even) {
    position: relative;
    margin-top: 10px;
}
#center-welcome-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}
#bar-center {
    width: 240px;
    border-radius: 10px;
    background-color: var(--third-color);
    height:100%;
}
#center-foot {
    display: flex;
    align-items: center;
    height: 20%;
    justify-content: center;

}
#center-foot a {
    display: flex;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: var(--second-font);
    font-size: 1.79rem;
    color: var(--primary-color);
    background-color: var(--forth-color);
    cursor: pointer;
}
#left {
    width: 22%;
}
#right {
    width: 22%;
    position: relative;
}
#container-background-circles {
    width: 100%;
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(6, 20px);
}
.container-background-circles-each {
    background-color: var(--third-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#container-background-circle {
    width: 50px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 200px;
    border-radius: 50%;
    height: 50px;
    background-color: var(--second-color);
}
#container-background-triangle {
    background-color: var(--forth-color);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    width: 50px;
    position: absolute;
    height: 50px;
    top: 52%;
    left: 22%;
    transform: rotate(-70deg);
}
#container-retangles {
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 0;
}
.retangle {
    position: absolute;
    width: 280px;
    height: 150px;
    border-radius: 15px;
}
#retangle1 {
    left: -12%;
    z-index: 3;
    background-color: var(--third-color);
}
#retangle2 {
    background-color: var(--forth-color);
    z-index: 2;
    top: 10%;
    left: -5%;
}
#retangle3 {
    background-color: var(--second-color);
    top: 20%;
    left: 0%;
}
#square {
    width: 45px;
    transform: rotate(45deg);
    margin-left: 120px;
    margin-top: 30px;
    top: 17%;
    height: 45px;
    position: absolute;
    background-color: var(--forth-color);
}
#cilind {
    width: 90px;
    top: 42%;
    position: absolute;
    height: 200px;
}
#sphere1 {
    width: 80px;
    background-color: var(--second-color);
    height: 30px;
    border-radius: 50%;
    margin-top: 3px;
    z-index: 2;
    position: relative;
    margin-left: 3px;
}
#retangle-cilinder {
    background-color:  var(--forth-color);
    z-index: 1;
    width: 77px;
    position: relative;
    margin-left: 5px;
    transform: translateY(-20px);
    height: 125px;
}
#sphere2 {
    width: 80px;
    transform: translateY(-30px);
    z-index: 10;
    position: relative;
    border-radius: 50%;
    background-color: var(--second-color);
    height: 25px;
    margin-left: 3px;
}
#container-retangles-right {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 0;
    margin-top: 400px;
}
.retangles {
    position: absolute;
    width: 200px;
    height: 400px;
    left: 50%;
    border-radius: 15px;
}
#retangle4 {
    background-color: var(--second-color);
    z-index: 1;
    transform: translateY(60px);
}
#retangle5 {
    background-color: var(--forth-color);
    z-index: 0;
    transform: translateX(30px);
    top: 8%;
}
#retangle6 {
    background-color: var(--third-color);
    z-index: -1;
    transform: translateX(50px);
}